:root[app-theme='dark'] {
    // backgrounds
    --palette-background-main: #232033;
    --palette-background-sub: #26273b;
    --paletter-background-border: #2f3045;
    --paletter-background-border-white: #232033;

    // text
    --palette-text-main: #f2f6f7;
    --palette-text-sub: #a09fa3;
    --palette-text-sub-log: #fff;
    --palette-text-sub-label: #616f80;
    --palette-text-sub-header: #d1d1d1;
    --palette-text-gold: #fdc27a;
    --palette-text-light: #fff;
}
