:root[app-theme='dark'] {
    // backgrounds
    --palette-background-main: #232033;
    --palette-background-dark: #26273b;

    // text
    --palette-text-main: #f2f6f7;
    --palette-text-main-sub: #a09fa3;
    --palette-text-dark: #fdc27a;
    --palette-text-light: #fff;
}
