:root[app-theme='light'] {
    // backgrounds
    --palette-background-main: #f2f6f7;
    --palette-background-light: #fff;

    // text
    --palette-text-main: #104e5b;
    --palette-text-main-sub: #616f80;
    --palette-text-dark: #2b2d33;
    --palette-text-light: #fff;
}
