.profile-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    height: 250px;
    padding-right: 25px;
    padding-left: 23px;
    background: var(--palette-background-sub);
    border-radius: 40px;

    .profile-title {
        color: var(--palette-text-sub-header);
    }

    .info-wrap {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;

        .info {
            display: flex;
            flex-direction: column;

            .name {
                color: var(--palette-text-sub-header);
                font-weight: 700;
                font-size: 16px;
            }

            .subname {
                color: #616f80;
                font-weight: 400;
                font-size: 11px;
            }
        }
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--palette-text-sub-log);

    .button {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .active {
        border-bottom: #fdc27a 2px solid;
    }
}
