.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    .form {
        display: flex;
        flex-direction: column;
        gap: 19px;
        align-items: center;
        justify-content: center;
    }
}
