.wrap {
    position: fixed;
    top: calc(100vh - 50px);

    .div-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .order-btn {
            position: absolute;
            bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background: #fdc27a;
            border: 2px solid var(--paletter-background-border);
            border-radius: 50%;
            box-shadow: 0 0 0 10px var(--paletter-background-border);
        }

        .footer-figure {
            display: flex;
            flex-direction: row;
        }

        .main-favorite {
            display: flex;
            flex-direction: row-reverse;
            gap: 45px;
            align-items: center;
            justify-content: center;
            width: 146px;
            height: 50px;
            background: var(--palette-background-sub);
            border-radius: 20px 0 40px;
            box-shadow: 0 4px 5px rgba(0 0 0 / 1%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        .empty-wrap {
            width: 67px;
            height: 34px;
            margin-top: 16px;
            background: var(--palette-background-sub);
            box-shadow: 0 4px 5px rgba(0 0 0 / 1%);
        }

        .notific-profile {
            display: flex;
            flex-direction: row-reverse;
            gap: 45px;
            align-items: center;
            justify-content: center;
            width: 147px;
            height: 50px;
            background: var(--palette-background-sub);
            border-radius: 20px 0 40px;
            box-shadow: 0 4px 5px rgba(0 0 0 / 1%);
        }

        .order-img,
        .home-img,
        .favorite-img,
        .notification-img,
        .profile-img {
            width: 22px;
            height: 22px;
        }
    }
}
