.wrap {
    width: 302px;
    height: 136px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0 0 0 / 5%);

    .courier-info-cont {
        display: flex;
        height: 77px;
        border-bottom: 1px dashed #bebebe;

        .courier-photo-cont {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 13px;
            margin-left: 15px;

            .courier-photo {
                width: 50px;
                height: 52px;
                border-radius: 15px;
            }
        }

        .courier-data-cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 147px;
            padding-top: 12px;
            padding-bottom: 18px;

            .name {
                font-weight: 700;
                font-size: 14px;
                font-style: normal;
            }

            .id {
                color: #616f80;
                font-weight: 400;
                font-size: 12px;
                font-style: normal;
            }

            .position {
                color: #bebebe;
                font-weight: 600;
                font-size: 11px;
                font-style: normal;
            }
        }

        .courier-call-cont {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            margin-top: 16px;
            margin-left: 15px;
            background: #fdc27a;
            border-radius: 15px;
            box-shadow: 0 4px 5px rgb(0 0 0 / 5%);

            .courier-call {
                width: 20px;
                height: 20px;
            }
        }
    }

    .delivery-info-cont {
        display: flex;
        align-items: center;

        .delivery-time-cont {
            display: flex;
            gap: 6px;
            margin-top: 13px;
            margin-right: 12px;
            margin-left: 20px;

            .time-img-cont {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background: #fdc27a;
                border-radius: 10px;
                box-shadow: 0 4px 5px rgba(0 0 0 / 5%);

                .time-img {
                    width: 18px;
                    height: 18px;
                }
            }

            .time-text-cont {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .time-title {
                    color: #bebebe;
                    font-weight: 500;
                    font-size: 8px;
                    font-style: normal;
                }

                .time {
                    color: #104e5b;
                    font-weight: 600;
                    font-size: 9px;
                    font-style: normal;
                }
            }
        }
        
        .delivery-city-cont {
            display: flex;
            gap: 6px;

            .city-img-cont {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                margin-top: 13px;
                background: #fdc27a;
                border-radius: 10px;
                box-shadow: 0 4px 5px rgba(0 0 0 / 5%);

                .city-img {
                    width: 18px;
                    height: 18px;
                }
            }

            .city-text-cont {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 13px;

                .city-title {
                    color: #bebebe;
                    font-weight: 500;
                    font-size: 8px;
                    font-style: normal;
                }

                .city {
                    color: #104e5b;
                    font-weight: 600;
                    font-size: 9px;
                    font-style: normal;
                }
            }
        }
    }
}
