.wrap {
    display: flex;
    flex-direction: column;
    gap: 52px;
    justify-content: flex-start;
    margin: 47px 0 0 34px;

    .title {
        color: var(--palette-text-sub-header);
        font-weight: 700;
        line-height: 21px;
    }

    .couriers {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
}
